#fan-page{
    display: flex;
}

#fan-page-main{    
    height: 650px;
    width: 75%;
    border: 1px solid grey;
    text-align: center;
    font-size: 2em;
}

#fan-show-display{
    display: flex;
    font-size: .5em;  
}

.removal{
    font-size: .5em;
    position: relative;
    bottom: -25px;
}

#ticket-mem{
    display: flex;
}

#memory-form{
    height: 150px;
    width: 450px;
    margin: 1%;
    border: 2px solid grey;
    text-align: left;
    background-color: rgb(196, 196, 196, .3);
}

.grey-out{
    color: grey;
}

#memory-text{
    width: 442px;
    height: 100px;
}

#memories-display-div{
    height: 125px;
    width: 442px;
    margin-top: 1.2%;
    /* padding: 1%; */
    overflow: scroll;
    border: 1px dotted
}


#delete-memory-div{
    border: 1px dashed red;
    width: 125px;
    padding: .5%;
    background-color: red;
    color: white;
    margin-left: 10%;
}
