#fan-page{
    display: flex;
}

#fan-page-main{    
    height: 650px;
    width: 75%;
    border: 1px solid grey;
    text-align: center;
    font-size: 2em;
}

#fan-show-display{
    display: flex;
    font-size: .5em;  
}

.removal{
    font-size: .5em;
    position: relative;
    bottom: -25px;
}