#fan-page{
    display: flex;
}

#fan-page-main{    
    height: 650px;
    width: 75%;
    border: 1px solid grey;
    text-align: center;
    font-size: 2em;
}

#fan-show-display{
    display: flex;
    font-size: .5em;  
}

.removal{
    font-size: .5em;
    position: relative;
    bottom: -25px;
}

#ticket-mem{
    display: flex;
}

#memory-form{
    height: 200px;
    width: 450px;
    border: 2px solid grey;
    text-align: left;
}

.grey-out{
    color: grey;
}

#memory-text{
    width: 442px;
    height: 175px;
}