/* LANDING PAGE */
    #whole-window{
        height: 100%;
        width: 100%;
    }
    #landing-wrapper{
        display: flex;
        width: 100%;
        height: 175px;
        margin-left: 5px;
    }

    /* HEADER */
    #title {
        float: left;
        width: 74%;
        background-position: center;
        background-image: url('../landing_page_images/CroppedBanner.jpg') ;
        text-align: center;
        font-size: 5em;
        color: white;
        line-height: 170px;
    }

    /* LOGIN */
    #login-window {
        float: right;
        /* background-color:red ; */
        width: 25%;
        border: 1px solid grey;
        background-color: rgba(245, 245, 245, 0.842);
        

    }

    #login-form {
        display: block;
        text-align: center;
        padding-top: 30px;
    }

    #login-label{
        font-size: 2em;   
    }

    #landing-second-line{
        display: flex;
    }

    /* MAIN WINDOW */
   

    #landingMainContainer{
        margin-left: 5px;
        width: 74.1%;
        height: 100%;
    }

    #landing-main-years{
        display: flex;
    }

    #landingPage-main{  
              
        height: 650px;
        border: 1px solid grey;
        text-align: center;
        font-size: 2em;
    }
    /* VIDEOS */
    #landingMain-Vids{
        display: flex;
        margin-left: 10px;
    }

    .landingPageVid{
        width: 410px;
        height: 200px;
        border: 1px solid grey;
    }

    #land-vid-2{
        margin-left: 15px;
    }

    /* TODAY IN HISTORY */

    #history-display{
        margin-left: 55px;
        border: 1px solid grey;
        width: 85%;
        height: 250px;
    }

    #today-setlist{
        font-size: .5em;
    }

    /* YEARS WINDOW */
    #landing-years-display{
        width: 142%;
        height: 650px;
        border: 1px solid grey;
        overflow: scroll;
    }

    #signup-form-container{
        border: 1px solid grey;
        width: 650px;
        height: 350px;
        position: absolute;
        left: 20%;
        top: 15%;
       
    }

    #signup-form{
        padding: 20%;
        position: relative;
        left: 13%;
    }


    
