#title {
    /* display: flex; */
    width: 73%;
    height: 175px;
    /* background-color: aqua; */
    background-image: url('../landing_page_images/CroppedBanner.jpg') ;
    text-align: center;
    vertical-align: middle;
    font-size: 7em;
    color: white;
    line-height: 175px;
    
    
}