#show-info{
    text-align: center;
    width: 73%;
    border: 1px solid grey;
    margin-left: 5px;
}

#setlist{
    
    width: 100%;
    border: 1px solid grey;
    display: flex;
}

.set{
    width: 20%;
    border: 1px solid grey;
    padding: 1%
}

#second-line{
    display: flex;
    width: 102.6%;
}

.show-name-date{
    font-size: 1.5em;
}

#memories-div{
    text-align: left;
    width: 50%;
    padding-left: 1%;
}

#mem-title{
    font-size: 2em;
}

.edit-mem{
    text-align: right;
}

.fan-mem{
    border: 1px solid grey;
    margin: 5px;
    padding: 1%;
    display: flex;
}



