#show-info{
    text-align: center;
    width: 73%;
    border: 1px solid grey;
    margin-left: 5px;
}

#setlist{
    
    width: 100%;
    border: 1px solid grey;
    display: flex;
}

.set{
    width: 20%;
    border: 1px solid grey;
    padding: 1%
}

#second-line{
    display: flex;
    width: 102.6%;
}

.show-name-date{
    font-size: 1.5em;
}