#ticket-display{
    display: inline-flex;
    margin-left: 1%;
}
#ticket{
    width: 350px;
    height: 125px;
    /* display: inline-flex; */
    border: 1px solid grey;
    margin: 5px;
    text-align: center;
}


.removal{
    border: 1px solid grey;
    width: 125px;
    position: relative;
    left: 32%;
    background-color: grey;
    color: white;
    bottom: -15px;
}
#add-memory{
    border: 1px solid grey;
    width: 125px;
    position: relative;
    left: 32%;
    /* background-color: grey; */
    /* color: white; */
    bottom: -10px;
}

/* #info{
    padding-left: 20%;
} */