#ticket-display{
    display: inline-flex;
    margin-left: 1%;
}
#ticket{
    width: 350px;
    height: 125px;
    /* display: inline-flex; */
    border: 1px solid grey;
    margin: 5px;
    text-align: center;
}

#pop-up-page{
    background-color: aqua;
    z-index: 1;
}

/* #info{
    padding-left: 20%;
} */